---
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    hostname: homepage
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    # uncomment if you do not want to run as root
    #user: 1000:1000
    # uncomment if you are not using a reverse proxy
    #ports:
    #  - 3000:3000
    environment:
      - LOG_LEVEL=debug
      - HOMEPAGE_ALLOWED_HOSTS={{ vault_homepage_allowed_hosts }} # required, may need port. See https://gethomepage.dev/installation/#homepage_allowed_hosts
    volumes:
      - {{ homepage_config_path }}:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.entrypoints=http"
      - "traefik.http.routers.homepage.rule=Host(`{{ homepage_domain_prefix }}.{{ vault_domain }}`)"
      - "traefik.http.routers.homepage.middlewares=default-whitelist@file"
      - "traefik.http.middlewares.homepage-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.homepage.middlewares=homepage-https-redirect"
      - "traefik.http.routers.homepage-secure.entrypoints=https"
      - "traefik.http.routers.homepage-secure.rule=Host(`{{ homepage_domain_prefix }}.{{ vault_domain }}`)"
      - "traefik.http.routers.homepage-secure.tls=true"
      - "traefik.http.routers.homepage-secure.service={{ homepage_domain_prefix }}"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
      - "traefik.docker.network={{ proxy_network_name }}"
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ proxy_network_name }}
      

networks:
  {{ proxy_network_name }}:
    external: true