---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

####################
#  NETWORK COLUMN
####################

- Network & Monitoring:
    - Portainer:
        href: https://{{ portainer_domain_prefix }}.{{ vault_domain }}
        icon: portainer
        server: {{ vault_device_name }}
        container: portainer

    - Pi-hole:
        href: https://{{ pihole_domain_prefix }}.{{ vault_domain }}/admin
        icon: pi-hole
        server: {{ vault_device_name }}
        container: pihole
        widget:
          type: pihole
          url: https://{{ pihole_domain_prefix }}.{{ vault_domain }}
          version: 6
          key: "{{ vault_homepage_services_pihole_widget_key }}"

    - Putty:
        href: https://{{ putty_domain_prefix }}.{{ vault_domain }}
        icon: putty
        server: {{ vault_device_name }}
        container: putty
        
    - Traefik:
        href: https://{{ traefik_domain_prefix }}.{{ vault_domain }}
        icon: traefik
        server: {{ vault_device_name }}
        container: traefik        

    - Uptime Kuma:
        href: https://{{ uptime_kuma_domain_prefix }}.{{ vault_domain }}
        icon: uptime-kuma
        server: {{ vault_device_name }}
        container: uptime-kuma
        widget:
          type: uptimekuma
          url: https://{{ uptime_kuma_domain_prefix }}.{{ vault_domain }}
          slug: homepage

    - Glances:
        href: https://{{ glances_domain_prefix }}.{{ vault_domain }}
        icon: glances
        server: {{ vault_device_name }}
        container: glances

    - Wireguard:
        href: https://{{ wg_domain_prefix }}.{{ vault_domain }}
        icon: wireguard
        server: {{ vault_device_name }}
        container: wireguard

####################
#    MEDIA COLUMN
####################

- Media:
    - Plex:
        href: https://{{ plex_domain_prefix }}.{{ vault_domain }}
        icon: plex
        server: {{ vault_device_name }}
        container: plex


    - Gluetun:
        #href: http://{{ ansible_default_ipv4.address }}:8000
        icon: gluetun
        server: {{ vault_device_name }}
        container: gluetun
        widget:
          type: gluetun
          url: http://{{ ansible_default_ipv4.address }}:8000

    - Transmission:
        href: https://{{ transmission_domain_prefix }}.{{ vault_domain }}
        icon: transmission
        server: {{ vault_device_name }}
        container: transmission

    - Sonarr:
        href: https://{{ sonarr_domain_prefix }}.{{ vault_domain }}
        icon: sonarr
        server: {{ vault_device_name }}
        container: sonarr

    - Radarr:
        href: https://{{ radarr_domain_prefix }}.{{ vault_domain }}
        icon: radarr
        server: {{ vault_device_name }}
        container: radarr

    - Bazarr:
        href: https://{{ bazarr_domain_prefix }}.{{ vault_domain }}
        icon: bazarr
        server: {{ vault_device_name }}
        container: bazarr

    - Lidarr:
        href: https://{{ lidarr_domain_prefix }}.{{ vault_domain }}
        icon: lidarr
        server: {{ vault_device_name }}
        container: lidarr

    - Jackett:
        href: https://{{ jackett_domain_prefix }}.{{ vault_domain }}
        icon: jackett
        server: {{ vault_device_name }}
        container: jackett


####################
# TOOLS & DEV COLUMN
####################

- Dev & Multimedia Tools:
    - VS Code Server:
        href: https://{{ vs_code_server_domain_prefix }}.{{ vault_domain }}
        icon: https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1024px-Visual_Studio_Code_1.35_icon.svg.png
        server: {{ vault_device_name }}
        container: vs_code_server

    - IT Tools:
        href: https://{{ it_tools_domain_prefix }}.{{ vault_domain }}
        icon: it-tools
        server: {{ vault_device_name }}
        container: it-tools

    - Gimp:
        href: https://{{ gimp_domain_prefix }}.{{ vault_domain }}
        icon: gimp
        server: {{ vault_device_name }}
        container: gimp

    - Handbrake:
        href: https://{{ handbrake_domain_prefix }}.{{ vault_domain }}
        icon: https://upload.wikimedia.org/wikipedia/commons/d/d9/HandBrake_Icon.png
        server: {{ vault_device_name }}
        container: handbrake
