---
# Further information on server authentication available here: https://github.com/qdm12/gluetun-wiki/blob/main/setup/advanced/control-server.md#authentication
[[roles]]
name = "VPN for torrents"
# Define a list of routes with the syntax "Http-Method /path"
#routes = ["GET /v1/openvpn/portforwarded"] # Uncomment to obtain port forward information
# Define an authentication method with its parameters
auth = "none"
